<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Insert title here</title>
  <style>
    .error {
      color: red
    }

    ;
  </style>
</head>

<body>
  <form id="form1" class="form-horizontal">
    <h2>사원 등록 및 수정</h2>
    <div class="form-group">
      <label>사번:</label> <input type="text" class="form-control" name="employeeId" readonly>
    </div>
    <div class="form-group">
      <label>이름:</label>
      <input type="text" class="form-control" name="firstName">
      <div class="error" th:errors="${employeesDTO.firstName}"></div>
      <input type="text" class="form-control" name="lastName">
      <div class="error" th:errors="${employeesDTO.lastName}"></div>
    </div>
    <div class="form-group">
      <label>이메일:</label>
      <input type="text" class="form-control" name="email">
      <div class="error" th:errors="${employeesDTO.email}"></div>
    </div>
    <div class="form-group">
      <label>입사일자:</label>
      <input type="date" class="form-control" name="hireDate">
    </div>
    <div class="form-group">
      <label>역할:</label>
      <select class="form-control" name="jobId">
        <option th:value="${job.jobId}" th:each="job : ${jobList}">[[${job.jobId}]]</option>
      </select>
    </div>
    <div class="form-group">
      <input type="button" class="btn btn-primary" value="등록" id="btnInsert" />
      <input type="button" class="btn btn-primary" value="수정" id="btnUpdate" />
      <input type="button" class="btn btn-primary" value="초기화" id="btnInit" />
    </div>
  </form>

  <script th:inline="javascript">
    document.addEventListener("DOMContentLoaded", () => {
      document.querySelector("#btnInsert").addEventListener("click", () => {
        const form = document.querySelector("#form1");
        form.action = "register";
        form.method = "post";
        form.submit();
      })
    });

  </script>
</body>

</html>