<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.board.mapper.ReplyMapper">
<!-- ReplyMapper(인터페이스)를 구현한게 .xml이에용 -->

<!-- insert: 등록 -->
<insert id="insert" parameterType="replyDTO">
  INSERT INTO tbl_reply (
						rno,
						bno,
						reply,
						replyer
                        )
       VALUES (
               seq_reply.nextval,
               #{bno},
               #{reply},
               #{replyer}
               )
</insert>

<!-- read: 단건조회 -->
<select id="read" parameterType="long" resultType="replyDTO">
  SELECT rno,
         bno,
         reply,
         replyer,
         replydate,
         updatedate
    FROM tbl_reply
   WHERE rno = #{rno}
</select>

<!-- getList : 전체조회 -->
<select id="getList" resultType="replyDTO">
SELECT * FROM (
	       SELECT /*+index_desc(tbl_reply pk_reply)*/ 
	              ROWNUM rn, 
					 	 rno,
						 bno,
						 reply,
						 replyer,
						 replydate,
						 updatedate
	         FROM tbl_reply 
	         WHERE bno = #{bno}
	           and rno >0
			   and rownum <![CDATA[ <= ]]> #{cri.end} 
) where rn >= #{cri.start}			    

</select>
<!-- delete: 삭제(댓글 번호로 삭제) -->
<delete id="delete">
  DELETE FROM tbl_reply
   WHERE rno = #{rno}
</delete>

<!-- delete: 삭제(게시글 번호로 삭제) -->
<delete id="deleteByBno">
  DELETE FROM tbl_reply
   WHERE bno = #{bno}
</delete>


<!-- update: 수정 -->
<update id="update" parameterType="replyDTO">
  UPDATE tbl_reply
     SET 
         reply = #{reply},
         updateDate = sysdate
   WHERE rno = #{rno}
</update>



<!-- 카운트 전체건수 -->
<select id="getCount" resultType="int">
  SELECT COUNT(*) FROM tbl_reply
  <where>
	<include refid="criteria"></include>
  </where>
</select>

<select id="getCountByBno" resultType="int">
  SELECT COUNT(rno) 
  FROM tbl_reply 
  WHERE bno=#{bno}

</select>


<sql id="criteria">
	<if test="keyword != null and ! keyword.equals('')">
      <!-- item 은 루프변수, collection 은 array  -->
		<trim prefix="and (" suffix=")" prefixOverrides="or">
			<foreach item="type" collection="typeArr">
				<trim prefix="or">
					<choose>
						<when test="type == 'T'.toString() ">
							TITLE like '%' || #{keyword} || '%'
						</when>
						<when test="type == 'C'.toString() ">
							CONTENT like '%' || #{keyword} || '%'
						</when>
						<when test="type == 'W'.toString() ">
							WRITER like '%' || #{keyword} || '%'
						</when>
					</choose>
				</trim>
			</foreach>	
		</trim>
	</if>
</sql>

</mapper>